<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chiki´s Waffles</title>

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'app/images/chikiswaffles2.png' %}">

    {% block css %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% load pwa %}

    {% progressive_web_app_meta %}

</head>

<body>
    <div id="principal">
        <header>
            <div>
                <nav class="nav">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img src="{% static 'app/images/chikiswaffles.png' %}"
                                alt="Logo pagina" width="160"></a>
                    </div>

                    <ul>
                        <li><a href="{% url 'productos' %}">Productos</a></li>
                        <li><a href="{% url 'contacto' %}">Consultas</a></li>

                        {% if perms.myapp.add_productos_w %}
                        <li>
                            <a href="{% url 'agregar_producto' %}">Agregar productos</a>
                        </li>
                        {% endif %}
                        {% if perms.myapp.view_productos_w %}
                        <li>
                            <a href="{% url 'listar_producto' %}">Listar productos</a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" onclick="cerrarSesion">Cerrar sesion</a>
                        </li>
                        <li><a href="#">@{{ user.username }}</a>
                        </li>

                        {% else %}
                        <li><a href="{% url 'registro' %}">Registrate</a></li>

                        <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>

            <div class="titulo">
                <h1> ¿Que quieres el dia de hoy? </h1>
            </div>

            <div class="buscador">
                <form action="" method="">
                    <span><i class="fas fa-search"></i></span>
                    <input type="text" class="buscar_texto" placeholder="Buscar">
                </form>
            </div>

        </header>


        <section>
            <div class="contenido">

                <div class="titulo-s">
                    <h2>Recomendaciones</h2>
                </div>

                <div class="cat1">
                    <h3>Waffles</h3>
                </div>

                <div class="container1">
                    <div class="card1">
                        <img src="{% static 'app/images/wa1.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Waffles con frutos rojos</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card1">
                        <img src="{% static 'app/images/wa2.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Waffles con nutella</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card1">
                        <img src="{% static 'app/images/wa3.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Waffles con chocolate blanco</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>
                </div>



                <div class="cat1">
                    <h3>Helado</h3>
                </div>
                <div class="container2">
                    <div class="card2">
                        <img src="{% static 'app/images/helado1.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Helado de chocolate</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card2">
                        <img src="{% static 'app/images/helado2.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Helado de vainilla y Waffles</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card2">
                        <img src="{% static 'app/images/helado3.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Helado con nueces y salsa de chocolate</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>
                </div>



                <div class="cat1">
                    <h3>Exquisitos</h3>
                </div>
                <div class="container3">
                    <div class="card3">
                        <img src="{% static 'app/images/exquisito1.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Brownie con helado</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card3">
                        <img src="{% static 'app/images/exquisito2.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Waffle en cono con helado</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card3">
                        <img src="{% static 'app/images/exquisito3.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Frutas en salsa de chocolate</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>
                </div>



                <div class="cat1">
                    <h3>Bebidas</h3>
                </div>

                <div class="container4">
                    <div class="card4">
                        <img src="{% static 'app/images/cafe1_capuchino.jfif' %}" class="imagen" alt="img1w"
                            width="250">
                        <a href="#">
                            <h4>Capuccino</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card4">
                        <img src="{% static 'app/images/jugo2.jpg' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Jugo de naranja</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                    <div class="card4">
                        <img src="{% static 'app/images/cafe4_moca.jfif' %}" class="imagen" alt="img1w" width="250">
                        <a href="#">
                            <h4>Moca</h4>
                        </a>
                        <h4>$5.999</h4>
                    </div>

                </div>

            </div>

        </section>


        <section>
            <footer>
                <div class="contenedorf">
                    <div class="lista1">
                        <ul>
                            <li><a href="#">
                                <h4>Nosotros</h4>
                            </a></li>
                            <li><a href="#">
                                <h4>Privacidad</h4>
                            </a></li>
                            <li><a href="#">
                                <h4>Terminos y condiciones</h4>
                            </a></li>
                            <li><a href="admin/">
                                <span class="fas fa-users-cog"></span>
                            </a></li>
                        </ul>
                    </div>

                    <div class="redes">
                        <h4>Siguenos en:</h4>
                        <a href="#" class="fab fa-instagram fa-3"></a>
                        <a href="#" class="fab fa-twitter fa-3"></a>
                    </div>
                </div>

                <div class="copy">

                    <div class="nombre">
                        <p>&copy; 2017 all rights reserved by Chikiswaffles</p>
                    </div>

                    <div class="correo">
                        <p>Chikiswaffles@gmail.com</p>
                    </div>

                </div>
            </footer>
        </section>


    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}

    {% for m in messages %}

    <script>
        Swal.fire({
            'title': 'Felicitaciones',
            'text': '{{m}}',
            'icon': 'success'
        })
    </script>

    {% endfor %}

    {% endif %}

    {% block js %}
    <script src="{% static 'app/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'app/js/cerrar_sesion.js' %}"></script>
    {% endblock js %}
</body>

</html>